@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}

body {
	min-height: 100vh;
	background: linear-gradient(160deg, #18181b 0%, #27272a 65%, #21ba72 100%);
	background-repeat: no-repeat;
}

input,
button,
textarea,
select,
option {
	outline: none;
}
